<hr />
<div class="container pb-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Búsqueda de una persona</h2>
    </div>
    <div class="card-body">
      <form action="">
        <div class="mb-3">
          <label for="numDocumento" class="form-label">Número de documento</label>
          <input
            type="number"
            class="form-control"
            id="numDocumento"
            aria-describedby="infoBusqueda"
            [(ngModel)]="numDocument"
            name="numDocument"
          />
          <div id="infoBusqueda" class="form-text">
            Debes escribir el número de documento de la persona que deseas
            listar.
          </div>
        </div>
        <button (click)="buscar()" class="btn btn-primary">Buscar</button>
      </form>
      <div *ngIf="mostrarTabla">
        <hr />
        <div class="container pb-4">
          <div class="card">
            <div class="card-header text-center">
              <h2>Personas</h2>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Num. documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Nombre completo</th>
                    <th>Cumpleaños</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.numDocument }}</td>
                    <td>{{ persona.firstName }}</td>
                    <td>{{ persona.lastName }}</td>
                    <td>{{ persona.fullName }}</td>
                    <td>{{ persona.birth | date:"dd/MM/YYYY"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
