<div class="main">
  <div class="wrapper">
    <div class="container main-container">
      <div class="container text-center p-4">
        <img width="250px" src="../assets/BdBimg.png" class="img-fluid" alt="LogoBdB.png">
        <hr>
        <h1>Prueba técnica de operaciones CR de personas</h1>
        <div class="container">
          <button (click)="listar()" class="btn btn-primary mx-3 mt-3">Listar</button>
          <button (click)="crear()" class="btn btn-primary mx-3 mt-3">Agregar</button>
          <button (click)="buscar()" class="btn btn-primary mx-3 mt-3">Buscar</button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
